.contact_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_desc {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_heading {
  font-size: 3.5rem;
  font-weight: bold;
  color: rgb(65, 64, 64);
  /* color: rgb(31, 30, 30); */
}
.contact_heading_desc {
  font-size: 1.2rem;
  font-weight: lighter;
  width: 325px;
  color: rgb(78, 76, 76);
}
.contact_box {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_form {
  background-color: rgb(231, 236, 239);
  width: 85%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}
.contact_form_heading {
  color: rgb(65, 64, 64);
}
.contact_form p {
  .contact_form;
}
.input_name_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_labels {
  width: 200px;
  height: 30px;
  border: none;
  background-color: white;
}
.email_phone_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_name_div,
.email_phone_div,
.text_area_div {
  width: 100%;
  margin: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.first_name_div,
.last_name_div {
  width: 100%;
}
.email_div,
.phone_div {
  width: 100%;
}
.contact_form form {
  width: 80%;
}
.text_area_container {
  width: 100%;
}
.text_area_container textarea {
  border: none;
}
.button_submit {
  background-color: rgb(65, 64, 64);
  color: whitesmoke;
  width: 150px;
  font: 1rem;
  /* padding: 0 10px; */
  padding: 10px;
  border: none;
  border-radius: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Tablet landscape */
  .contact_box {
    width: 100%;
  }
  .contact_form {
    width: 80%;
  }
  .contact_form form {
    width: 90%;
  }
}
