* {
  font-family: sans-serif;
}
.app_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar_container {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.right_container {
  position: absolute;
  top: 0;
  right: 0;
  /* left: 300px; */
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: rgb(18, 17, 17);
}
